@use "animations.scss";

body{
    background-color: #f1eeee;
    margin: 0.5rem;
}

header{
    font-family: "shrikhand", cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem lightgrey;
    padding: 0.3rem;
    margin: 0;
    position: relative;
    background-color: white;
    .fas{
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-40%);
    font-size: 1.3rem;
    color: #000;
    cursor: pointer;
    }
}
.card-img{
    max-width: 100%;
    max-height: 36rem;
    width: 100%;
    object-fit: cover;
}

.title-card{
    position: relative;
    margin-top: -3rem;
    h2{
    font-family: "chrikhand", "cursive";
    padding: 1.2rem;
    margin-top: -69px;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    background-color: #f1eeee;
    }
    i{
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        transform: translateY(25%);
    }
    .fas{
        color: transparent;
        background-image: linear-gradient(#ff64ea, #7e0bca);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: 150ms;
        cursor: pointer;
    }
    &:hover .fas{
         opacity: 1;
    }
}

h3{
    padding:1rem;
    margin:0;
}

.container-flat{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    @media(max-width: 900px){
        flex-direction: column;
        align-items: center;
    }
}

.submenus{
    max-width: 30%;
    display: grid;
    gap: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    @media(max-width: 900px){
        grid-template-columns: 1fr;
        max-width: 90%;
    }   

    h3{
        margin:0rem;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        
        &::after{
            content: "";
            top: 2.5rem;
            left: 1rem;
            height: 0.3rem;
            width: 3.2rem;
            background-color: #99e2d0;
            position: absolute;
            overflow: hidden;
        }   
    }

    .price{
        margin-left: auto;
        margin-top: auto;
        font-weight:bolder;
        padding: 1rem;
    }

    .list{
        padding: 1rem;
        overflow: hidden;

        h4, p{
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .ingredients{ 
        @for $i from 2 through 4 {
            &:nth-child(#{$i}){
                animation-delay: 100ms * $i;
            }
        }
        display: flex;
        background-color: white;
        border-radius: 0.8rem;
        box-shadow: 0.2rem 0.3rem 0.5rem #cfcccc;
        cursor: pointer; 
        margin: 0.4rem 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        animation: item_anim 0.8s;
        animation-fill-mode: both;
    
        &:hover {
            .Item-confirmation{
                margin-right: 0;
                transition-duration: 0.6s;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .fas{
                animation: spin-rotate 0.6s ease-in-out;
            }
        }
    }
 
    .Item-confirmation{
        display: grid;
        place-items: center;
        $item-width: 4rem;
        background-color: #99e2d0;
        padding: 1.6rem;
        margin-right: -$item-width;
        width: $item-width;

        .fas{
            background-color: white;
            display: grid;
            place-items: center;
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 60%;
            color: #99e2d0;
        }
    }
}

.command{
    display: grid;
    height: 20vh;
    place-items: center;
    button{
        border-radius: 2rem;
        color: white;
        padding: 1rem 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        border: none;
        box-shadow: 2px 1px 8px -3px #000;
        background-image: linear-gradient(350deg, rgb(126, 11, 202), rgb(255, 100, 234));
        transition: 200ms;
        cursor: pointer;
        margin-top: -1.3rem;
    }

    & :hover { 
    transform: scale(1.02);
    opacity: 0.9;
    }
}