@use "restaurants.scss";

@keyframes load {
    to {
        transform: scale(0);
    }
}

@keyframes spin {
    to { 
    transform: rotate(360deg);
    }
}

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.loader{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: white;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: load 1s forwards ;
    animation-delay: 3s;
    transform-origin: top;
    &::after{
        content: "";
        height:80px;
        width: 80px;
        border-right: 6px solid transparent;
        border-top: 4px solid  #9356DC;
        border-radius: 50%;
        animation: spin 1s infinite linear;
    }
}

h2{
    padding: 0.5rem;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    font-family: "shrikhand", cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem lightgrey;
    padding: 0.3rem;
    margin: 0;
    position:relative;
    background-color: white;
}

main .City{
    display: flex;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0.2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* explorer */
.Explorer{
    text-align: center;
}

.Explorer h2{
    margin-top: 1.2rem;
    font-size: 1.5rem;
}

.Explorer p{
    margin-top: 1rem;
    font-size: 1rem;
}

.Explorer button{
    border-radius: 2rem;
    color: white;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    box-shadow: 2px 1px 8px -3px #000;
    background-image: linear-gradient(350deg, rgb(126, 11, 202), rgb(255, 100, 234));
    transition: 200ms;
    cursor: pointer;
    margin-top: 0.7rem;
}

.Explorer button:hover {
    transform: scale(1.02);
    opacity: 0.8;
}

.choix{
    counter-reset: choisir;
    margin-bottom: 1rem;
    padding: 0.5rem;
    ol{
        display: flex;
        gap: 2rem;
        padding: 0 1rem;
        @media(max-width: 850px){
        flex-direction: column;
        }
    }
    & li{
        position: relative;
        &::before{
        content: counter(choisir);
        counter-increment: choisir;
        background-color: #a573e2;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        position: absolute;
        left: -1rem;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 0.5rem 1.5rem;
        flex-grow: 1;
        border-radius: 1.3rem;
        box-shadow: 2px 1px 8px -3px lightgrey;
        cursor: pointer;
        & :hover{
            transform: scale(1.02);
            transition: 200ms;
        }
        
        & i {
            color: #b687f0;
            margin: 1rem;
            font-size: 1.2rem;
        }
    }
}

.cartes{
    background-color: #f6f6f6;
    margin-bottom: 1rem;
    border-radius: 1rem;

    .Eat{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        padding: 1.2rem;
    }
    
    @media(min-width: 850px){
        .Eat{ 
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .new{
        position: relative;
    }
    .new::before{
        content:"Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        background-color: #99E2D0;
        color: #1b6150;
        display: grid;
        place-items: center;
        right: 2rem;
        top: 1rem;
        border-radius: 0.3rem;
    }

    .menus{
        border-radius: 1rem;
        & .images{
            height: 16rem;
            border-radius: 1rem 1rem 0 0;
            background-size:cover;
            background-position: center;
        }
        @for $i from 1 through 4 {
            & .images-#{$i}{
                background-image: url("../Images/photo-#{$i}.avif");
            } 
        }
        & .description{ 
            position: relative;
            background-color: white;
            border-radius: 0 0 1rem 1rem;
            h3, p{
                margin: 0.1rem;
                padding-bottom: 0.3rem;
                padding-left: 0.3rem
            }
            h3{
                padding-top: 0.3rem;
            }
            i{
             font-size: 2rem;
             position: absolute;
             right: 1rem;
             top: 0rem;
             transform: translateY(25%);
            }
            .fas{
                color: transparent;
                background-image: linear-gradient(#ff64ea, #7e0bca);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: 150ms;
            }
            &:hover .fas{
                opacity: 1;
            }
        }
    }

}
footer{
    background-color: rgb(39, 38, 38);
    color: white;
    padding: 0  1.4rem 1rem;
    h2{
        font-family: "shrikhand", sans-serif;
    }
    p{
        margin: 0.4rem;
    }
}