@keyframes spin-rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes item_anim {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #f1eeee;
  margin: 0.5rem;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem lightgrey;
  padding: 0.3rem;
  margin: 0;
  position: relative;
  background-color: white;
}
header .fas {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-40%);
  font-size: 1.3rem;
  color: #000;
  cursor: pointer;
}

.card-img {
  max-width: 100%;
  max-height: 36rem;
  width: 100%;
  object-fit: cover;
}

.title-card {
  position: relative;
  margin-top: -3rem;
}
.title-card h2 {
  font-family: "chrikhand", "cursive";
  padding: 1.2rem;
  margin-top: -69px;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  background-color: #f1eeee;
}
.title-card i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  transform: translateY(25%);
}
.title-card .fas {
  color: transparent;
  background-image: linear-gradient(#ff64ea, #7e0bca);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 150ms;
  cursor: pointer;
}
.title-card:hover .fas {
  opacity: 1;
}

h3 {
  padding: 1rem;
  margin: 0;
}

.container-flat {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
@media (max-width: 900px) {
  .container-flat {
    flex-direction: column;
    align-items: center;
  }
}

.submenus {
  max-width: 30%;
  display: grid;
  gap: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .submenus {
    grid-template-columns: 1fr;
    max-width: 90%;
  }
}
.submenus h3 {
  margin: 0rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.submenus h3::after {
  content: "";
  top: 2.5rem;
  left: 1rem;
  height: 0.3rem;
  width: 3.2rem;
  background-color: #99e2d0;
  position: absolute;
  overflow: hidden;
}
.submenus .price {
  margin-left: auto;
  margin-top: auto;
  font-weight: bolder;
  padding: 1rem;
}
.submenus .list {
  padding: 1rem;
  overflow: hidden;
}
.submenus .list h4, .submenus .list p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.submenus .ingredients {
  display: flex;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.3rem 0.5rem #cfcccc;
  cursor: pointer;
  margin: 0.4rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: item_anim 0.8s;
  animation-fill-mode: both;
}
.submenus .ingredients:nth-child(2) {
  animation-delay: 200ms;
}
.submenus .ingredients:nth-child(3) {
  animation-delay: 300ms;
}
.submenus .ingredients:nth-child(4) {
  animation-delay: 400ms;
}
.submenus .ingredients:hover .Item-confirmation {
  margin-right: 0;
  transition-duration: 0.6s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.submenus .ingredients:hover .fas {
  animation: spin-rotate 0.6s ease-in-out;
}
.submenus .Item-confirmation {
  display: grid;
  place-items: center;
  background-color: #99e2d0;
  padding: 1.6rem;
  margin-right: -4rem;
  width: 4rem;
}
.submenus .Item-confirmation .fas {
  background-color: white;
  display: grid;
  place-items: center;
  width: 1.3rem;
  border-radius: 37%;
  color: #99e2d0;
}

.command {
  display: grid;
  height: 20vh;
  place-items: center;
}
.command button {
  border-radius: 2rem;
  color: white;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  box-shadow: 2px 1px 8px -3px #000;
  background-image: linear-gradient(350deg, #7e0bca, #ff64ea);
  transition: 200ms;
  cursor: pointer;
  margin-top: -1.3rem;
}
.command :hover {
  transform: scale(1.02);
  opacity: 0.9;
}

@keyframes load {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: load 1s forwards;
  animation-delay: 3s;
  transform-origin: top;
}
.loader::after {
  content: "";
  height: 80px;
  width: 80px;
  border-right: 6px solid transparent;
  border-top: 4px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

h2 {
  padding: 0.5rem;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem lightgrey;
  padding: 0.3rem;
  margin: 0;
  position: relative;
  background-color: white;
}

main .City {
  display: flex;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* explorer */
.Explorer {
  text-align: center;
}

.Explorer h2 {
  margin-top: 1.2rem;
  font-size: 1.5rem;
}

.Explorer p {
  margin-top: 1rem;
  font-size: 1rem;
}

.Explorer button {
  border-radius: 2rem;
  color: white;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  box-shadow: 2px 1px 8px -3px #000;
  background-image: linear-gradient(350deg, #7e0bca, #ff64ea);
  transition: 200ms;
  cursor: pointer;
  margin-top: 0.7rem;
}

.Explorer button:hover {
  transform: scale(1.02);
  opacity: 0.8;
}

.choix {
  counter-reset: choisir;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.choix ol {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}
@media (max-width: 850px) {
  .choix ol {
    flex-direction: column;
  }
}
.choix li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 0.5rem 1.5rem;
  flex-grow: 1;
  border-radius: 1.3rem;
  box-shadow: 2px 1px 8px -3px lightgrey;
  cursor: pointer;
}
.choix li::before {
  content: counter(choisir);
  counter-increment: choisir;
  background-color: #a573e2;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.choix li :hover {
  transform: scale(1.02);
  transition: 200ms;
}
.choix li i {
  color: #b687f0;
  margin: 1rem;
  font-size: 1.2rem;
}

.cartes {
  background-color: #f6f6f6;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.cartes .Eat {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1.2rem;
}
@media (min-width: 850px) {
  .cartes .Eat {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cartes .new {
  position: relative;
}
.cartes .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 2rem;
  top: 1rem;
  border-radius: 0.3rem;
}
.cartes .menus {
  border-radius: 1rem;
}
.cartes .menus .images {
  height: 16rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: center;
}
.cartes .menus .images-1 {
  background-image: url("../Images/photo-1.jpg");
}
.cartes .menus .images-2 {
  background-image: url("../Images/photo-2.jpg");
}
.cartes .menus .images-3 {
  background-image: url("../Images/photo-3.jpg");
}
.cartes .menus .images-4 {
  background-image: url("../Images/photo-4.jpg");
}
.cartes .menus .description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.cartes .menus .description h3, .cartes .menus .description p {
  margin: 0.1rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}
.cartes .menus .description h3 {
  padding-top: 0.3rem;
}
.cartes .menus .description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 0rem;
  transform: translateY(25%);
}
.cartes .menus .description .fas {
  color: transparent;
  background-image: linear-gradient(#ff64ea, #7e0bca);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 150ms;
}
.cartes .menus .description:hover .fas {
  opacity: 1;
}

footer {
  background-color: #272626;
  color: white;
  padding: 0 1rem;
}
footer h2 {
  font-family: "shrikhand", sans-serif;
}
footer p {
  margin: 0.4rem;
}

/*# sourceMappingURL=style.css.map */
